body{
    background-color: rgb(129, 206, 231);
}
h2{
    color: rgb(31, 88, 126);
    text-align: center;
}
form{
    background-color: rgb(104, 176, 215);

    width: 500px;

    margin: auto;

    padding: 20px;

    border-radius: 10px;
}
input{
    width: 90%;

    padding: 8px;

    border-radius: 40px;
}
h3{
    color: rgb(41, 123, 174);
}
label{
    font-weight: bold;
}

body{
    font-family: Arial;
}